body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../images/login.jpg'); 
    /* background-size: cover;  */
    /* background-position: center;  */
  


}

.login-container {
    text-align: center;
    background-color: #000000;
    padding: 90px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.Registrate{
    color: white;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 95%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.error-message {
    color: #ff0000;
}

/* Estilos para el contenedor de registro */
.registro-container {
    background-color: #f0f0f0; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde con un color gris claro */
    border-radius: 5px; /* Bordes redondeados */
    width: 300px; /* Ancho del contenedor */
    margin: 0 auto; /* Centrar horizontalmente en la página */
    text-align: center; /* Alineación de texto en el centro */
}


